:root {
  --text-yellow: #f5c53b;
  --text-grey: #919191;
  --back-bluesteel: #1a263b;
  --back-fadedsteel: #2e3c48;
}

body {
  margin: 0;
  background-color: #1e2c42;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #000000;
}
body::-webkit-scrollbar-thumb {
  background: #f5c53b;
}
