@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap");

:root {
  --text-yellow: #f5c53b;
  --text-grey: #919191;
  --back-bluesteel: #1a263b;
  --back-fadedsteel: #2e3c48;
}

body {
  /* background-color: #1e2c42; */
  background-color: #31404a;
  /* overflow-x: hidden; */
  max-width: 100%;
}

textarea:focus,
input:focus {
  outline: none;
}

input,
button,
submit {
  border: none;
}

*:focus {
  outline: none;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #000000;
}
body::-webkit-scrollbar-thumb {
  background: #f5c53b;
}
