.acc {
  min-width: 90px;
  font-family: "Poppins";
  font-weight: 600;
  background-color: var(--text-yellow);
  position: absolute;
  transition: 0.3s all;
  border-radius: 25px;
  text-align: center;
  color: #3b5058;
  margin: 7% 0 0 7%;
  padding: 0.5rem;
  display: inline;
  opacity: 0;
}

.acc-icon:hover + .acc {
  outline: none;
  text-decoration: none;
  opacity: 1;
  z-index: 999;
}
